@import url(http://fonts.googleapis.com/css?family=Raleway:400, 900);
body{background-color:#000; font-family: 'Raleway', sans-serif;
  color: #fff;}
header h1{
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}
*{margin:0; padding:0;}
#container{width:100%; height:auto;}
#slider{width:800px;margin:0 auto;}
#slider ul{list-style:none;width:800px;height:300px;}
#slider ul li{position:absolute;}