  <!DOCTYPE html>
  <html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   
  <script type="text/javascript" src="/static/js/slideshow.js"></script>
  <link rel="stylesheet" href="/static/css/slideshow.css"></link>


    <title></title>
  </head>
  <body>
  
  <header>
      <h1>Wipe Slider</h1>
  </header>

  <div id="container">
    <div id="slider">
      <ul>
        <li>
          <p> haha</p>
          <figure class="img-figure"><img src="http://www.flashaddicts.com/clientdisplay/images/1.jpg"/></figure></li>
         <li><figure class="img-figure"><img src="http://www.flashaddicts.com/clientdisplay/images/2.jpg"/></figure></li>
         <li><figure class="img-figure"><img src="http://www.flashaddicts.com/clientdisplay/images/3.jpg"/></figure></li>
         <li><figure class="img-figure"><img src="http://www.flashaddicts.com/clientdisplay/images/4.jpg"/></figure></li>
        </ul>
      </div>
  </div>
  </body>
  </html>